.q-div {
    display: table-cell;
    position: relative;
    min-width: 200px;
    min-height: 200px;
    vertical-align: middle;
}
.q-txt {
    display: inline;
    position: relative;
}
.q-row {
    position: relative;
    margin-top: 10px;
    border: 2px dashed lightblue;
    border-radius: 10px;
    padding: 10px;
}
.row-status {
  display: flex;
}
